<div class="gutter-example">
  <div nz-col class="gutter-col">
    <div nz-row class="gutter-row">
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/dang-ki-hoc')"
        >
          Đăng kí học mới
        </button>
      </div>
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/thong-tin-dang-ki-hoc')"
        >
          KIểm tra thông tin đăng kí học
        </button>
      </div>
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/diem-thi')"
        >
          Xem điểm
        </button>
      </div>
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/lich-thi')"
        >
          Xem lịch thi
        </button>
      </div>
    </div>
    <div nz-row class="gutter-row">
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/hoc-phi')"
        >
          Xem học phí
        </button>
      </div>
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/thong-bao')"
        >
          Thông báo
        </button>
      </div>
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/dang-ky-khac')"
        >
          Đăng kí khác
        </button>
      </div>
      <div class="grid-config">
        <button
          class="btn-text"
          nz-button
          nzType="text"
          (click)="goToPage('/layout/tra-cuu')"
        >
          Tra cứu
        </button>
      </div>
    </div>
  </div>
</div>
