<div class="contents">
  <nz-card nzTitle="Lương Bằng - ngày 29/2/2024">
    <h4>Điểm quá trình</h4>
    <p>Chào các bạn, tôi đã tổng kết...</p>
  </nz-card>
  <br />
  <!-- <nz-card nzTitle="Thuy Nga - ngày 8/1/2024">
    <h4>Đề cương ôn tập</h4>
    <p>Cô gửi các em...</p>
  </nz-card> -->
  <br />
  <nz-card nzTitle="Lương Bằng - ngày 20/12/2023">
    <h4>Thông báo thi giữa kì</h4>
    <p>Chào các bạn, tôi xin thông báo...</p>
  </nz-card>
  <br />
  <nz-card nzTitle="Lương Bằng - ngày 15/11/2023">
    <h4>Thông báo môn học</h4>
    <p>Chào các bạn, tôi sẽ là...</p>
  </nz-card>
</div>
