<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên lớp</th>
      <th>Tên giảng viên</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.key }}</td>
      <td></td>
      <td></td>
      <td>
        <a style="color: #0d99ff">
          <span
            nz-icon
            nzType="search"
            nzTheme="outline"
            (click)="this.router.navigate(['/admin/qlsv2'])"
          ></span>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
